## Data Wraggling

In [6]:
import pandas as pd
import numpy as np

from pathlib import Path

In [49]:
DATA_FOLDER = Path("data")
OUTPUT_FOLDER = Path("output")

if not OUTPUT_FOLDER.exists():
    OUTPUT_FOLDER.mkdir()

In [16]:
movehub_folder = DATA_FOLDER  / 'movehub'

cities_df = pd.read_csv(movehub_folder / "cities.csv")
cities_df[cities_df["Country"] == "United States"].reset_index(drop=True)

                 City        Country
0             Oakland  United States
1           Oceanside  United States
2       Oklahoma City  United States
3               Omaha  United States
4             Ontario  United States
..                ...            ...
239           Atlanta  United States
240           Augusta  United States
241  Aurora, Colorado  United States
242  Aurora, Illinois  United States
243            Austin  United States

[244 rows x 2 columns]

In [50]:
highspeed_folder = DATA_FOLDER / 'highspeed'

hs_df = pd.read_csv(highspeed_folder / "highspeed.csv")
del hs_df["zip"]


def percent_str_to_percent(s: str) -> float:
    return  int(s[:-1]) / 100

def dollar_amount_to_number(s: str) -> int:
    return int(s.strip()[1:].replace("," ,""))


grade_mapping =  {
        "A+": 5.25,
        "A": 5.0,
        "A-": 4.75,
        "B+": 4.25,
        "B": 4.00,
        "B-": 3.75,
        "C+": 3.25,
        "C": 3.00,
        "C-": 2.75,
        "D+": 2.25,
        "D": 2.00,
        "D-": 1.75,
        "F": 1.00,
    }

hs_df["percentDemocrat"] = hs_df["data__percentDemocrat"].apply(percent_str_to_percent)
hs_df["percentGraduates"] = hs_df["data__percentGraduates"].apply(percent_str_to_percent)
hs_df["percentIndependent"] = hs_df["data__percentIndependent"].apply(percent_str_to_percent)
hs_df["percentNonReligious"] = hs_df["data__percentNonReligious"].apply(percent_str_to_percent)
hs_df["percentReligious"] = hs_df["data__percentReligious"].apply(percent_str_to_percent)
hs_df["percentRepublican"] = hs_df["data__percentRepublican"].apply(percent_str_to_percent)
hs_df["percentSingle"] = hs_df["data__percentSingle"].apply(percent_str_to_percent)

hs_df["avgHomePrice"] = hs_df["data__avgHomePrice"].apply(dollar_amount_to_number)
hs_df["avgCostOfLiving"] = hs_df["data__avgCostOfLiving"].apply(dollar_amount_to_number)


hs_df["gradeAirQuality"] = hs_df["data__gradeAirQuality"].map(grade_mapping)
hs_df["gradeLowTraffic"] = hs_df["data__gradeLowTraffic"].map(grade_mapping)
hs_df["gradeSafety"] = hs_df["data__gradeSafety"].map(grade_mapping)



hs_df = hs_df.loc[:, [col for col in hs_df.columns if not (col.startswith("multipliers__") or col.startswith("data__"))] ]


hs_df.to_csv(OUTPUT_FOLDER / "data.csv")
hs_df

,id,city,state,region,percentDemocrat,percentGraduates,percentIndependent,percentNonReligious,percentReligious,percentRepublican,percentSingle,avgHomePrice,avgCostOfLiving,gradeAirQuality,gradeLowTraffic,gradeSafety
0,1,Palo Alto,CA,West,0.70,0.78,0.02,0.57,0.43,0.28,0.42,2187500,31575,3.25,3.75,4.00
1,2,Naples,FL,South,0.35,0.49,0.01,0.63,0.37,0.65,0.38,308500,19282,3.75,5.25,3.25
2,3,Seattle,WA,West,0.69,0.58,0.02,0.63,0.37,0.29,0.60,579975,28018,5.00,2.25,1.00
3,4,Santa Fe,NM,West,0.74,0.43,0.04,0.51,0.49,0.22,0.60,369000,20840,5.25,5.00,2.25
4,5,Austin,TX,South,0.60,0.45,0.04,0.54,0.46,0.36,0.60,350000,20082,3.00,3.00,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,482,Victorville,CA,West,0.52,0.12,0.02,0.58,0.42,0.46,0.54,212000,23155,1.00,1.00,2.75
482,483,Perris,CA,West,0.49,0.07,0.02,0.57,0.43,0.49,0.55,276000,20650,1.00,1.00,3.25
483,484,Homestead,FL,South,0.62,0.17,0.01,0.60,0.40,0.38,0.59,202500,23702,4.75,1.00,1.00
484,485,Hesperia,CA,West,0.52,0.10,0.02,0.58,0.42,0.46,0.55,236000,23576,1.00,1.00,3.25
485,486,Indio,CA,West,0.49,0.14,0.02,0.57,0.43,0.49,0.46,275000,30901,1.00,2.75,2.75

----

In [54]:
weather_folder = DATA_FOLDER / 'weather'

city_attrs_df = pd.read_csv(weather_folder / "city_attributes.csv")
city_attrs_df[city_attrs_df["Country"] == "United States"]

             City        Country   Latitude   Longitude
1        Portland  United States  45.523449 -122.676208
2   San Francisco  United States  37.774929 -122.419418
3         Seattle  United States  47.606209 -122.332069
4     Los Angeles  United States  34.052231 -118.243683
5       San Diego  United States  32.715328 -117.157257
6       Las Vegas  United States  36.174969 -115.137222
7         Phoenix  United States  33.448380 -112.074043
8     Albuquerque  United States  35.084492 -106.651138
9          Denver  United States  39.739151 -104.984703
10    San Antonio  United States  29.424120  -98.493629
11         Dallas  United States  32.783058  -96.806671
12        Houston  United States  29.763281  -95.363274
13    Kansas City  United States  39.099731  -94.578568
14    Minneapolis  United States  44.979969  -93.263840
15    Saint Louis  United States  38.627270  -90.197891
16        Chicago  United States  41.850029  -87.650047
17      Nashville  United States  36.165890  -86.784439
18   Indianapolis  United States  39.768379  -86.158043
19        Atlanta  United States  33.749001  -84.387978
20        Detroit  United States  42.331429  -83.045753
21   Jacksonville  United States  30.332180  -81.655647
22      Charlotte  United States  35.227089  -80.843132
23          Miami  United States  25.774269  -80.193657
24     Pittsburgh  United States  40.440620  -79.995888
26   Philadelphia  United States  39.952339  -75.163788
27       New York  United States  40.714272  -74.005966
29         Boston  United States  42.358429  -71.059769